.about {
  height: 100vh !important;

  font-family: Satellite;
  /* background: url(../../assets/images/bg_5.jpg) no-repeat center;
  background-size: cover; */
  font-size: 1.3em;
  line-height: 1.4;
  margin-bottom: 50px;
}
.about .wired-rendered {
  background: rgba(255, 255, 255, 0.9);
}
.about h1 {
  padding-top: 60px;
}
.about p {
  margin-bottom: 0 !important;
}
@media only screen and (max-width: 600px) {
  .about {
    margin-bottom: 100px !important;
  }
}
@media only screen and (max-width: 400px) {
  .about {
    margin-bottom: 380px !important;
  }
}
