body {
  margin: 0;
  font-family: Satellite;

  letter-spacing: 1.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black !important;
  font-family: Satellite;
}

@font-face {
  font-family: Satellite;
  src: url(../src/assets/fonts/Satellite.otf);
}
