body {
  margin: 0;
  font-family: Satellite;

  letter-spacing: 1.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none !important;
  color: black !important;
  font-family: Satellite;
}
li {
  list-style: none;
}
h1,
h2 {
  font-family: "Cabin Sketch", cursive;
  letter-spacing: 2px;
}

.wired-rendered {
  font-family: Satellite !important;
  margin-top: 15px;
  padding: 20px;
}
@font-face {
  font-family: Satellite;
  src: url(../src/assets/fonts/Satellite.otf);
}

#root {
  background: url(/images/bg_6.png) top center;
  background-repeat: repeat-y;
  background-size: 100%;
}
